.env
.release/
dist/
node_modules/

.turbo/
apps/marketing-videos/out
apps/marketing-videos/out
logs
demo.md
jobs
apps/landing-page/.next
auth.json
.pi/chrome-screenshots

graphify-out/

.nexus/startup-profiles/*
test.fish

.lucid
.DS_Store
apps/landing-page/out/
apps/landing-page/.next/
apps/landing-page/public/asciinema/asciinema-player.min.js
apps/tui/build
apps/landing-page/next-env.d.ts
apps/landing-page/src/types/css.d.ts
